/*

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
}

img {
  width: 100%;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

*/

.carousel {
  position: relative;
  width: 99%;
  height: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  object-fit: cover;
  width: 80%;
  /*height: 59%;*/
}

.slide {
  flex: 0 0 auto;
  width: 80%;
  /*height: 59%;*/
  object-fit: cover; /* Permet à l'image de couvrir entièrement le conteneur */
}

img{
  width: 90%;
  height: 80%;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

